# Example of VJets analysis framework configurarion file
#
# Note: The programs will look for the path defined in the environment
#       variable VJETS_CONFIG if it is defined, or for file name vjets.cfg

#Input directory containing both MC and real data Bonzai ntuples or catalogs when
#using Run I ntuple format (runZJets). For Run II ntuple format, this parameter
#is set separately for MC and real data via dataBonzaiDir and mcBonzaiDir
bonzaiDir = Ntuple/

#Input directory containing the real data Bonzai ntuples or catalogs in Run II format.
#When running the Run I format use the bonzaiDir parameter instead.
#dataBonzaiDir = root://eoscms//eos/cms/store/group/phys_smp/AnalysisFramework/Bonzai/13TeV_25ns/Data/v1/
dataBonzaiDir = /store/group/phys_smp/AnalysisFramework/Bonzai/13TeV_25ns/Data/v1/Catalogs

#Input directory containing the MC Bonzai ntuples or catalogs in Run II format.
#When running the Run I format use the bonzaiDir parameter instead.
#mcBonzaiDir = root://eoscms//eos/cms/store/group/phys_smp/AnalysisFramework/Bonzai/13TeV_25ns/MC/v1/
mcBonzaiDir = /store/group/phys_smp/AnalysisFramework/Bonzai/13TeV_25ns/MC/v1/Catalogs

#Integrated luminosity. The value -1 indicates that it must be read from the
#dataSample catalog files: the file should then have a line,
# * lumi: xxx
# with xxx the integrated luminosity in /fb
lumi = -1

#Data and MC samples: either an ntuple root file or a catalog file containing the list of files.
#Notes: 
# 1. If the name contains the string %s, this string will be replaced by the lepSel channel tag
# 2. Paths are relative to bonzaiDir except when they start with /, in which case the path is absolute.
#    This path rule applies also to paths listed in a catalog file.
# 3. root:// and /store paths are supported for the root files, but not for the catalog file itself.
# Example of absolute path: 
# dataSample      = /store/group/phys_smp/AnalysisFramework/Baobab/13TeV_25ns/Data/v11/Ntuple/DoubleMuon/crab_DoubleMuon-0001/151021_230215/0000/ntuple_1.root
dataSample        = Bonzai-DoubleMuon-0001-VJetsPruner-%s.txt
mcSample_ST_tW    = %s_ST_tW_top_13TeV.txt
mcSample_STbar_tW = %s_ST_tW_ant_13TeV.txt
mcSample_ST_tch   = %s_ST_t-chan_13TeV.txt
mcSample_TT 	  = %s_TT_TuneCU_13TeV.txt
mcSample_ZZ 	  = %s_ZZ_TuneCU_13TeV.txt
mcSample_WW 	  = %s_WWTo2L2Nu_13TeV.txt
mcSample_WZ 	  = %s_WZJets_powheg_13TeV.txt
mcSample_W  	  = %s_WJetsToLN_13TeV.txt
mcSample_DY 	  = %s_DYJetsToLL_v3_amcatnlo_13TeV.txt

        

#Output directory to store the histogram files of individual dataset analysis (runVJets output). 
#Note that if nEvents >= 0; the number of events is appended to the directory name
histoDir = HistoFiles

#Output directory  for the RECO-level data/MC comparison plots
recoCompDir = RecoComparison

#Output directory for the unfolding and the unfolded results
unfoldDir = UnfoldedFiles

#Output directory for the combination plots 
combDir = Combi

#Path to the LHA PDF library
LHAlib = /afs/cern.ch/cms/slc5_amd64_gcc434/external/lhapdf/5.8.5/lib/libLHAPDF.so

#Specifies type of run:
#Possible values: DATA, BACKGROUND, TAU, DYJETS, WJETS, ALL, PDF, SHERPA
doWhat = DATA

#Maximum number of events to process. The special value -1 indicates to process the complete sample
maxEvents = -1

#Switch to process data with central calibration values
doCentral = 1

#Switch to process data for systematic uncertainty estimation 
doSysRunning = 0

#Specifies the systematic to estimate. With -1 and doSysRunning = 1, all systematics are computed.
whichSyst = -1

#Jet pseudorapidity acceptance in 1/10th unit.
jetEtaMax = 24

#Jet p_t cut
jetPtMin = 30

#Lepton pt cut
lepPtMin = 20 

#Lepton rapidity acceptance, in 1/10th unit
lepEtaMax = 24

#Scale factor to apply on renormalization scale.
muR = 1.0 

#Scale factor to apply on factorisation scale.
muF = 1.0

#Channel
lepSel = DMu

#Produces the plots for the PAS
doPASPlots = 1

#Unfolding algorithm
#Supported values: Bayes, SVD
algo = Bayes

#used reweight events depending on the number of vertex, e. g. to reweight Run2012D to Run2012A
#Note for MC PU reweighting another method is used (see Source/standalone_LumiReWeighting.cc)
additionalPuWeightFile =
