anaSel = DYJETS
# anaSel = DYJETS, WJETS, Wc, Zbb...

lepSel = DMu
# lepSel = DMu, DE, SMu, SE, SMuSE, DTau

doWhat = MC
# DATA or MC

txtFile = data/WWTo2L2Nu.txt
# data/DYJetsToLL_data_v7_25ns_Bhawan.txt
# data/DYJetsToLL_data_v7_25ns.txt
# data/ZJets_13TeV_25ns_amcatnlo_smallsample.txt
# data/ZJets_13TeV_amcatnlo_25ns.txt
# data/DYJetsToLL_data_25ns.txt
# data/WWTo2L2Nu_25ns.txt
# data/ZZ_TuneCU_25ns.txt
# data/WZJets_Tu_25ns.txt
# data/WJetsToLN_amcatnlo_25ns.txt
# data/ST_tW_ant_25ns.txt
# data/ST_t-chan_25ns.txt
# data/ST_tW_top_25ns.txt
# data/WZJets_powheg.txt
# data/ZJets_13TeV_25ns.txt
# data/WZJets_powheg.txt
# data/DYJetsToLL_data_25ns.txt 
# data/GJet_Pt-1.txt
# data/ZZ_TuneCU.txt 
# data/WZJets_Tu.txt
# data/WWTo2L2Nu.txt
# data/WJetsToLN.txt
# data/ST_tW_top.txt
# data/ST_t-chan.txt
# data/ST_tW_ant.txt
# data/WJets_v7_data.txtW
# data/WJets_v3_amcatnlo.txt
# data/ST_tW_ant.txt
# data/TT_TuneCU.txt
# data/DYJetsToLL_data_v7.txt
# data/DYJetsToLL_v3_amcatnlo.txt
# data/DYJetsToLL_amcatnlo.txt
# data/DYJetsToLL_amcatnlo_smallSample.txt
# data/DYJetsToLL_amcatnlo.txt
# data/DYJetsToLL_data_v3.txt
# data/DYJetsToLL_data_v2.txt
# data/DYJetsToLL_data_v5.txt
# data/DYJetsToLL_data_v6.txt

doUnfold = false  # depends on MC or DATA
# true and false

maxNEvent = MAX
# MAX or number (ex: 50, 100)

outputDir = eos
# local or eos

CMEnergy = 13TeV
# 8TeV or 13TeV 

