anaSel = DYJETS
# anaSel = DYJETS, WJETS, Wc, Zbb...

lepSel = DMu
# lepSel = DMu, DE, SMu, SE, SMuSE, DTau

doWhat = MC 
# DATA or MC

txtFile = data/DYJetsToLL_amcatnlo.txt
# data/DYJetsToLL_amcatnlo_smallSample.txt
# data/DYJetsToLL_amcatnlo.txt
# data/DYJetsToLL_data_v3.txt
# data/DYJetsToLL_data_v2.txt
# data/DYJetsToLL_data_v5.txt
# data/DYJetsToLL_data_v6.txt

doUnfold = false  # depends on MC or DATA
# true and false

maxNEvent = 50
# MAX or number (ex: 50, 100)

outputDir = local
# local or eos

CMEnergy = 13TeV
# 8TeV or 13TeV 

