anaSel = WJETS
# anaSel = DYJETS, WJETS, Wc, Zbb...

lepSel = SMu
# lepSel = DMu, DE, SMu, SE, SMuSE, DTau

doWhat = MC 
# DATA or MC

txtFile = data/WJets_v3_amcatnlo.txt
# data/WJets_v7_data.txt
# data/WJets_v3_amcatnlo.txt
# data/TT_TuneCU.txt
# data/DYJetsToLL_data_v7.txt
# data/DYJetsToLL_v3_amcatnlo.txt
# data/DYJetsToLL_amcatnlo.txt
# data/DYJetsToLL_amcatnlo_smallSample.txt
# data/DYJetsToLL_amcatnlo.txt
# data/DYJetsToLL_data_v3.txt
# data/DYJetsToLL_data_v2.txt
# data/DYJetsToLL_data_v5.txt
# data/DYJetsToLL_data_v6.txt

doUnfold = false  # depends on MC or DATA
# true and false

maxNEvent = 100000
# MAX or number (ex: 50, 100)

outputDir = eos
# local or eos

CMEnergy = 13TeV
# 8TeV or 13TeV 

